extends layout

block content
  h1 Here's your new link
  p Short link:
  blockquote 
    a(href=short) #{short}
  p Original link:
  blockquote 
    a(href=original) #{original}
  a(href='/', class='button is-link') Shorten another